{% extends 'base.html.twig' %}
{% block body %}
    <h1 class="bottom-padding">Artist Shuffle!</h1>
    <a class="btn btn-default" href="{{ path('shuffle') }}" role="button">Shuffle!</a>
    <table>
        <tbody>
            <tr>
                <td><a href="{{ path('artists_index') }}">Artists</a> |</td>
                <td><a href="{{ path('genres_index') }}">Genres</a></td>
            </tr>
        </tbody>
    </table>
{% endblock %}
