{% extends 'base.html.twig' %}
{% block body %}
    <h1>Artist Shuffle!</h1>
    <a class="btn btn-default" href="{{ path('shuffle') }}" role="button">Shuffle!</a>
    <p>&nbsp;</p>
    <p><a href="{{ path('artists_index') }}">Artists</a> | <a href="{{ path('genres_index') }}">Genres</a></p>
{% endblock %}
