{% extends 'base.html.twig' %}
{% block body %}
    <h1>Artist Shuffle!</h1>
    <h3 class="top-padding">Users:</h3>
    <div class="col-sm-4 col-sm-offset-4" id="list">
        <ul>
        {% for user in users %}
            <li>{{ user.firstName }} {{ user.lastName }}</li>
        {% endfor %}
        </ul>
    </div>
    <table>
        <tbody>
            <tr>
                <td class="text-right"><a href="{{ path('users_add') }}">Add New User</a> |</td>
                <td class="text-left"><a href="{{ path('homepage') }}">Home</a></td>
            </tr>
        </tbody>
    </table>
{% endblock %}
