<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" />
            <link href="{{ asset('css/main.css') }}" rel="stylesheet" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div id="wrap">
            <div id="content" class="container text-center">
                {% block body %}{% endblock %}
            </div>
            <div id="footer">
                <div>
                    <p>&#169; <a href="http://mays.io" target="_blank">Mays | io</a></p>
                </div>
            </div>
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
