html{
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#wrap {
    min-height: 100%;
    position: relative;
}

#content {
    padding-top: 200px;
    padding-bottom: 80px;
}

#content table {
    width: 100%;
    margin-top: 20px;
}

#content td {
    width: 50%;
}

#content td:nth-child(1) {
    text-align: right;
}

#content td:nth-child(2) {
    text-align: left;
    padding-left: 3px;
}

#list {
    text-align: left;
    padding-left: 60px;
}

#footer {
    width: 100%;
    height: 80px;
    position: absolute;
    bottom: 0;
    left: 0;
}
#footer div {
    left: 5;
    bottom: 0;
    position: absolute;
    padding-left: 10px;
}

.top-padding {
    padding-top: 20px;
}

.bottom-padding {
    padding-bottom: 20px;
}

#page_loading {
    display: none;
    position: absolute;
    z-index: 10;
    width: 90%;
    top: 75px;
    height: 60;
    width: 60;
}

#shuffle-link {
    padding-bottom: 15px;
    font-size: 25px;
}
