{% extends 'base.html.twig' %}
{% block body %}
    <h1>Artist Shuffle!</h1>
    <h3 class="top-padding">Available Artists:</h3>
    <div class="col-sm-4 col-sm-offset-4" id="list">
        <ul>
        {% for artist in artists %}
            <li>{{ artist.name }} ({{ artist.genre.name }})</li>
        {% endfor %}
        </ul>
    </div>
    <table>
        <tbody>
            <tr>
                <td><a href="{{ path('artists_add') }}">Add New Artist</a> |</td>
                <td><a href="{{ path('homepage') }}">Home</a></td>
            </tr>
        </tbody>
    </table>
{% endblock %}
