{% extends 'base.html.twig' %}
{% block body %}
    <h1>Artist Shuffle!</h1>
    <h3 class="top-padding">Available Genres:</h3>
    <div class="col-sm-4 col-sm-offset-4" id="genre_list">
        <ul>
        {% for genre in genres %}
            <li>{{ genre.name }}</li>
        {% endfor %}
        </ul>
    </div>
    <table>
        <tbody>
            <tr>
                <td><a href="{{ path('genres_add') }}">Add New Genre</a> |</td>
                <td><a href="{{ path('homepage') }}">Home</a></td>
            </tr>
        </tbody>
    </table>
{% endblock %}
